# build output
dist/
.output/

# dependencies
node_modules/

# generated types
.astro/

# OS
.DS_Store

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor settings
.vscode/
.idea/

# Env files
.env
.env.*
!.env.example
